xml/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="BookIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+|BK-[0-9]{4})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LanguageCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IsbnType">
    <xs:restriction base="xs:string">
      <!-- Accepts ISBN-10/13 with optional hyphens (loosely constrained) -->
      <xs:pattern value="[0-9Xx-]{10,17}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="5"/>
      <xs:fractionDigits value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FormatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Paperback"/>
      <xs:enumeration value="Hardcover"/>
      <xs:enumeration value="Ebook"/>
      <xs:enumeration value="Audiobook"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AuthorType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PriceType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="CurrencyCodeType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="author" type="AuthorType"/>
      <xs:element name="genre" type="xs:string"/>
      <xs:element name="format" type="FormatType"/>
      <xs:element name="language" type="LanguageCodeType"/>
      <xs:element name="isbn" type="IsbnType"/>
      <xs:element name="publisher" type="xs:string" minOccurs="0"/>
      <xs:element name="publishDate" type="xs:date"/>
      <xs:element name="pages" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="price" type="PriceType"/>
      <xs:element name="rating" type="RatingType" minOccurs="0"/>
      <xs:element name="coverImage" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="tags" type="TagsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="BookIdType" use="required"/>
  </xs:complexType>

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" type="BookType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="updated" type="xs:date" use="optional"/>
    </xs:complexType>

    <xs:unique name="uniqueBookId">
      <xs:selector xpath="book"/>
      <xs:field xpath="@id"/>
    </xs:unique>

    <xs:unique name="uniqueIsbn">
      <xs:selector xpath="book"/>
      <xs:field xpath="isbn"/>
    </xs:unique>
  </xs:element>

</xs:schema>
